* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.alert {
	width: calc(100% - 20px);
	max-width: 500px;
	margin: 20px auto;
	padding: 30px;
	border-radius: 5px;
	box-shadow: 0 0 15px 5px #ccc;
	right: 10px;
	top: 100px;
	z-index: 10000;
}

.alert h3 {
	font-size: 18px;
}

.close {
	position: absolute;
	width: 30px;
	height: 30px;
	opacity: 0.5;
	border-width: 1px;
	border-style: solid;
	border-radius: 50%;
	right: 15px;
	top: 25px;
	text-align: center;
	font-size: 22px;
	cursor: pointer;
}

.simple-alert, .success-alert, .danger-alert, .warning-alert {
	display: block !important;
}

.simple-alert {
	background-color: #ebebeb;
	border-left: 5px solid #6c6c6c;
}

.simple-alert .close {
	border-color: #6c6c6c;
	color: #6c6c6c;
}

.success-alert {
	background-color: #a8f0c6;
	border-left: 5px solid #178344;
}

.success-alert .close {
	border-color: #178344;
	color: #178344;
}

.danger-alert {
	background-color: #f7a7a3;
	border-left: 5px solid #8f130c;
}

.danger-alert .close {
	border-color: #8f130c;
	color: #8f130c;
}

.warning-alert {
	background-color: #ffd48a;
	border-left: 5px solid #8a5700;
}

.warning-alert .close {
	border-color: #8a5700;
	color: #8a5700;
}

.alert li {
	margin-left: 30px;
}

@media (max-width: 600px) {
    .alert {
        top: 5px;
    }
}

.constant-alert {
	display: none;
	position: fixed;
}