{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="msapplication-TileColor" content="#393e46">
    <meta name="theme-color" content="#393e46">
    <title>{% block title %}{% endblock %}</title>
    <link rel="shortcut icon" type="image/png" href="/media/djplay.ico">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <link rel="stylesheet" href="{% static 'css/account/account.css' %}">
    <link rel="stylesheet" href="{% static 'css/alert.css' %}">
    <link rel="stylesheet" href="{% static 'css/account/checkbox.css' %}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Monoton&display=swap" rel="stylesheet">
    {% block style %}{% endblock %}
</head>
<body>
    <script src="{% static 'js/tools.js' %}"></script>
    {% if is_logged_in %}
        <script src="{% static 'js/connection.js' %}"></script>
    {% endif %}
    {% include 'messages.html' %}
     <div class="alert constant-alert">
        <h3></h3>
        <a class="close">&times;</a>
    </div>
    <header>
        <div class="header-wrapper">
            <a href="/"><h1>DJPLAY</h1></a>
            <div class="account">
                {% if is_logged_in %}
                    <div class="profile_link">
                        <span class="username">{{ user.username }}</span>
                        <img src="{{ user.avatar.url }}" class="user-avatar" alt="">
                    </div>
                    <div class="menu">
                        <a href="{{ user.get_absolute_url }}">Профиль</a>
                        <a href="{% url 'account:chat' %}">Сообщения</a>
                        <a href="{% url 'account:users' %}">Пользователи</a>
                        <a href="{% url 'account:edit_profile' %}">Изменить профиль</a>
                        {% if user.is_superuser %}
                            <a href="{% url 'admin:index' %}">Админ-панель</a>
                        {% endif %}
                        <a href="{% url 'account:logout' %}">Выйти</a>
                    </div>
                {% else %}
                    <div class="profile_link">
                        <span class="username">Гость</span>
                        <img src="/media/user.png" class="user-avatar" alt="">
                    </div>
                    <div class="menu">
                        <a href="{% url 'account:authorization' %}">Войти</a>
                        <a href="{% url 'account:registration' %}">Зарегистрироваться</a>
                        <a href="{% url 'account:users' %}">Пользователи</a>
                    </div>
                {% endif %}
            </div>
        </div>
    </header>
    <main>
        {% block content %}

        {% endblock %}
    </main>
    <script src="{% static 'js/burger.js' %}"></script>
    <script src="{% static 'js/chat.js' %}"></script>
    {% block script %}{% endblock %}
</body>
</html>