* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

html {
    background: #EEEEEE;
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding-bottom: 30px;
}

.container {
    width: 90%;
    max-width: 710px;
    background: #F7F7F7;
    padding: 90px 45px 70px 45px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

input {
    width: 100%;
    border: 1px solid #929aab;
    border-radius: 5px;
    margin-bottom: 15px;
    padding: 10px;
    font-size: 16px;
}

label {
    font-size: 18px;
}

h1 {
    text-align: center;
    font-size: 45px;
    margin-bottom: 60px;
}

.submit {
    margin-top: 20px;
    margin-bottom: 35px;
    font-size: 20px;
    cursor: pointer;
    background: #393e46;
    color: white;
}

.alert {
    z-index: 1000;
    position: fixed;
    top: 0;
    right: 10px;
    width: 95%;
    max-width: 600px;
}

.errorlist {
    display: none;
}

a {
    color: #393e46;
    font-weight: bold;
    text-decoration: none;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
    display: inline-block;
}
a:hover {
    text-decoration: underline;
}.or {
    text-align: center;
}

.social-auth {
    width: 100%;
    display: flex;
    justify-content: center;
}

.social-auth a {
    border-radius: 5px;
    margin-top: 3px;
    padding-left: 3px;
    padding-right: 3px;
}

.social-auth a:hover {
    background: white;
}

@media (max-width: 900px) {
    .container h1 {
        font-size: 34px;
    }
    .container {
        padding-left: 25px;
        padding-right: 25px;
    }
}
