main {
    justify-content: space-between;
}

.field {
    background-image: url("/media/chess/field_background.png");
    background-size: 100%;
    width: 100%;
    max-width: 700px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.half-main {
    width: 50%;
    margin-left: 50px;
    padding-top: 15px;
}

.start {
    background: #393e46;
    width: 100%;
    height: 100%;
    max-width: 700px;
    margin: auto;
    padding: 90px 60px 90px 60px;
    color: #f7f7f7;
    border-radius: 10px;
    line-height: 27px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
}
.start p, .start ul, .start li {
    font-size: 20px;
    width: 100%;
}
.start ul {
    padding-left: 30px;
}
.start p:last-child {
    margin-bottom: 50px;
}
.start button {
    display: block;
    width: 100%;
}

.findOpponentButton, .cancelWaitingButton, .giveUpButton, .startButton {
    width: 100%;
    padding: 20px;
    text-align: center;
    background: #f7f7f7;
    font-size: 25px;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    color: #393e46;
}
.findOpponentButton:hover, .cancelWaitingButton:hover, .giveUpButton:hover, .startButton:hover {
    background: #eeeeee;
}

.chess {
    width: 100%;
    max-width: 1800px;
    display: flex;
    margin: auto;
    justify-content: space-between;
    padding-left: 50px;
}


.panel {
    position: fixed;
    bottom: 0;
    padding: 4px;
    background: white;
    border-top: 1px solid #929aab;
    display: flex;
    justify-content: center;
    width: 100%;
    z-index: 1000;
}
.panel button {
    border: 0;
    border-radius: 5px;
    padding: 2px 8px 2px 8px;
    background: #f7f7f7;
    cursor: pointer;
    margin: 0 3px 0 3px;
}
.panel button:hover {
    background: #eeeeee;
}
.panel button img {
    width: 20px;
    height: 20px;
}


#accept_return, #decline_return {
    padding: 0;
    margin: 0 2px 0 2px;
    cursor: pointer;
    font-size: 28px;
    border: 0;
    position: relative;
    top: 4px;
}
#accept_return {
    color: #178344;
    margin-left: 6px;
}
#accept_return:hover {
    color: #136735;
}
#decline_return {
    color: #8f130c;
}
#decline_return:hover {
    color: #72120a;
}





.fieldCell {
    width: 87.5px;
    height: 87.5px;
    display: flex;
    justify-content: center;
    align-content: center;
}
.fieldCell.selected {
    border: 2px solid green;
}
.available-move {
    background: yellow;
    opacity: 0.1;
    border: 2px dotted orange;
}
.piece {
    width: 80%;
    height: 80%;
    margin: auto;
    z-index: 500;
}


#pawnTransformations {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
#pawnTransformations button {
    border: 0;
    border-radius: 5px;
    display: block;
    width: calc(50% - 10px);
    margin: 5px;
    background: #f7f7f7;
    padding: 10px;
}
#pawnTransformations button:hover {
    background: #eeeeee;
}
#pawnTransformations img {
    width: 75px;
    height: 75px;
}





@media (max-width: 1500px) {
    .chess {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        width: 100%;
        max-width: none;
        padding-left: 0;
    }
    .half-main {
        width: 100%;
        margin: 0 0 0 50px;
    }
    .start p {
        margin-bottom: 50px;
    }

    .half-main {
        margin-left: 0;
    }

    .field {
        margin-top: 40px;
        margin-bottom: 40px;
    }

    .startButton:not(.startButton:last-child) {
        margin-bottom: 10px;
    }
}

@media (max-width: 900px) {
    .chess {
        padding: 50px 30px 50px 30px;
    }
    .half-main, .start {
        width: 100%;
    }
    * {
        font-size: 14px;
    }
    .start p, .start ul, .start li {
        font-size: 16px;
        line-height: 22px;
    }
    .start {
        padding: 40px;
    }
    .findOpponentButton, .cancelWaitingButton, .giveUpButton, .startButton {
        font-size: 18px;
    }
    .account .loginRegistration {
        display: none;
    }
    .account .burgerMenu {
        display: block;
    }
    header {
        padding: 15px 50px 15px 50px;
    }
    .account .username {
        display: none;
    }
    .account img {
        width: 50px;
        height: 50px;
    }

    .half-main {
        margin-left: 0;
    }

    .field {
        margin-top: 40px;
        margin-bottom: 40px;
    }
}

@media (max-width: 600px) {
    .chess {
        padding: 0 10px 50px 10px;
    }
}