{% extends 'gomoku_base.html' %}

{% load static %}

{% block title %}Гомоку - DJPlay{% endblock %}

{% block content %}
    <div class="panel">
        <button id="return_move" title="Вернуть ход">
            <img src="/media/icons/return.png" alt="Вернуть ход">
        </button>
    </div>
    <div class="alert">
        <h3></h3>
        <a class="close">&times;</a>
    </div>
    <div class="gomoku">
        <div class="field"></div>
        <div class="half-main">
            <div class="start">
                <p>{{ game.rules }}</p>
                {% if not is_logged_in %}
                    <a href="{% url 'account:authorization' %}" class="findOpponentButton">Найти соперника</a>
                {% endif %}
            </div>
        </div>
        <audio src="/media/sounds/new_move.mp3" id="new_move_sound"></audio>
    </div>
    <script src="{% static 'js/gomoku_tools.js' %}"></script>
    <script src="{% static 'js/gomoku/gomoku_field.js' %}"></script>
    {% if is_logged_in %}
        <script src="{% static 'js/gomoku/gomoku.js' %}"></script>
    {% endif %}
{% endblock %}