{% extends 'base.html' %}

{% block title %}{{ mainuser.username }} - Профиль{% endblock %}

{% block content %}
    <div class="profile">
        <div class="user_data">
            <h2>
                {{ mainuser.username }} - Профиль
                {% if user != mainuser %}
                    {% if is_logged_in %}
                        {% if friend_request %}
                            {% if friend_request.is_active %}
                                <a href="{% url 'account:friend_request' username_of_request_to=mainuser.username %}"
                                   class="play_button add_friend">Удалить из друзей</a>
                            {% else %}
                                {% if friend_request.request_from == mainuser %}
                                    <a href="{% url 'account:friend_request' username_of_request_to=mainuser.username %}"
                                       class="play_button add_friend">Принять дружбу</a>
                                {% else %}
                                    <a href="{% url 'account:friend_request' username_of_request_to=mainuser.username %}"
                                       class="play_button add_friend">Отменить запрос в друзья</a>
                                {% endif %}
                            {% endif %}
                        {% else %}
                            <a href="{% url 'account:friend_request' username_of_request_to=mainuser.username %}"
                               class="play_button add_friend">Добавить в друзья</a>
                        {% endif %}
                    {% endif %}
                {% endif %}
            </h2>
            {% if mainuser.is_private %}
                {% if user == mainuser %}
                    <p>Ваш аккаунт приватный, другие пользователи (кроме друзей) не смогут увидеть информацию о Вас.</p>
                {% elif user not in mainuser.get_friends %}
                    <p>Приватный аккаунт, информация скрыта.</p>
                {% endif %}
            {% endif %}
            {% if user != mainuser and not mainuser.is_private or user in mainuser.get_friends or user == mainuser %}
                <h3>Основная информация</h3>
                <div class="table">
                    <div class="row">
                        <div class="column">
                            {% if mainuser.is_online %}
                                Статус
                            {% else %}
                                {% if mainuser.gender == 'M' %}
                                    Был
                                {% elif mainuser.gender == 'F' %}
                                    Была
                                {% else %}Был(-а){% endif %} онлайн
                            {% endif %}
                        </div>
                        <div class="column">
                            <h4>
                                {% if mainuser.is_online %}
                                    Онлайн
                                {% else %}
                                    {% if mainuser.last_online %}
                                        {{ mainuser.last_online|timesince }} назад
                                    {% else %}
                                        Никогда
                                    {% endif %}
                                {% endif %}
                            </h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="column">Имя пользователя</div>
                        <div class="column"><h4>{{ mainuser.username }}</h4></div>
                    </div>
                    <div class="row">
                        <div class="column">Эл.почта</div>
                        <div class="column">
                            <h4>
                                {% if mainuser.email %}
                                    {{ mainuser.email }}
                                {% else %}Не указано{% endif %}
                            </h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="column">Друзья</div>
                        <div class="column">
                            <h4>
                                <a href="{% url 'account:users_friends' username=mainuser.username %}"
                                   title="Друзья {{ mainuser }}">
                                    {{ mainuser.get_friends|length }}
                                </a>
                            </h4>
                        </div>
                    </div>
                </div>
                <h3>Дополнительная информация</h3>
                <div class="table">
                    <div class="row">
                        <div class="column">Просмотры</div>
                        <div class="column">
                            <h4>
                                <a href="{% url 'account:users_views' username=mainuser.username %}"
                                   title="Друзья {{ mainuser }}">{{ mainuser.get_views|length }}
                                </a>
                            </h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="column">Пол</div>
                        <div class="column">
                            <h4>
                                {% if mainuser.gender == 'M' %}
                                    Мужской
                                {% elif mainuser.gender == 'F' %}
                                    Женский
                                {% else %}
                                    Не указано
                                {% endif %}
                            </h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="column">Дата рождения</div>
                        <div class="column">
                            <h4>
                                {% if mainuser.birthday %}
                                    {{ mainuser.birthday }}
                                {% else %}Не указано{% endif %}
                            </h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="column">Дата регистрации</div>
                        <div class="column"><h4>{{ mainuser.date_joined }}</h4></div>
                    </div>
                    <div class="row">
                        <div class="column">Настоящее имя</div>
                        <div class="column">
                            <h4>
                                {% if mainuser.first_name %}
                                    {{ mainuser.first_name }}
                                {% else %}Не указано{% endif %}
                            </h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="column">Настоящая фамилия</div>
                        <div class="column">
                            <h4>{% if mainuser.last_name %}
                                    {{ mainuser.last_name }}
                                {% else %}Не указано{% endif %}
                            </h4>
                        </div>
                    </div>
                </div>
                <a href="{% url 'account:gomoku_parties' username=mainuser.username %}" class="link">Посмотреть партии Гомоку</a>
            {% endif %}
            {% if user == mainuser %}
                <a href="{% url 'account:edit_profile' %}" class="play_button">Изменить</a>
            {% endif %}
        </div>
        <img src="{{ mainuser.avatar.url }}" alt="">
    </div>
{% endblock %}