{% extends 'chess_base.html' %}

{% load static %}

{% block title %}Шахматы - DJPlay{% endblock %}

{% block content %}
    <div class="panel">
        <button id="return_move" title="Вернуть ход">
            <img src="/media/icons/return.png" alt="Вернуть ход">
        </button>
        <button id="clear_field" title="Очистить поле">
            <img src="/media/icons/reset.png" alt="Очистить поле">
        </button>
    </div>
    <div class="chess">
        <div class="field"></div>
        <div class="half-main">
            <div class="start">
                <p>{{ game.rules|safe }}</p>
                <button class="startButton" id="playVSComputer">Играть против компьютера</button>
                {% if not is_logged_in %}
                    <a href="{% url 'account:authorization' %}" class="findOpponentButton">Найти соперника</a>
                {% endif %}
            </div>
        </div>
        <audio src="/media/sounds/new_move.mp3" id="new_move_sound"></audio>
    </div>
    <script src="{% static 'js/chess_tools.js' %}"></script>
    {% if is_logged_in %}
        <script src="{% static 'js/chess/chess.js' %}"></script>
    {% endif %}
{% endblock %}